body {
}

.person {
}

.person .details {
    background-clip: padding-box;
    overflow-x: hidden;
    background-size: cover;
    min-height: 10em;
}

.person img.icon {
    max-width: 8em;
    margin: 1em;
    border: .3em solid black;
    border-radius: 20%;
    float: left;
    shape-outside: margin-box;
}

.person ul {
    list-style: none;
    padding: 0;
}

.person ul li {
    display: inline-block;
    margin-right: 1em;
}
