@charset "UTF-8";
@import "reset.css";

:root {
    --bg-color: #232627;
    --fg-color: #EFF0F1;
    --link-color: #1E90FF; /* dodgerblue */
    --link-visited-color: #9370DB; /* mediumpurple */
    --link-active-color: var(--link-visited-color);
    --accent-color: var(--fg-color);
    /* font-size: clamp(1rem, .97vw, 4.5rem); */
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #EFF0F1;
        --fg-color: #232627;
        --link-color: #0000CD; /* mediumblue */
        --link-visited-color: #663399; /* rebeccapurple */
        --link-active-color: var(--link-visited-color);
        --accent-color: var(--fg-color);
    }
}

@media (min-width: 2201px) {
    :root {
        font-size: .82vw;
    }
}

@media (max-width: 2200px) {
    :root {
        font-size: .86vw;
    }
}

@media (max-width: 1800px) {
    :root {
        font-size: 1vw;
    }
}

@media (max-width: 1500px) {
    :root {
        font-size: 1.2vw;
    }
}

@media (max-width: 1200px) {
    :root {
        font-size: 1.4vw;
    }
}

@media (max-width: 1050px) {
    :root {
        font-size: 1.6vw;
    }
}

@media (max-width: 948px) {
    :root {
        font-size: 1.8vw;
    }
}

@media (max-width: 860px) {
    :root {
        font-size: 2.2vw;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 2.6vw;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 2.8vw;
    }
    oni-collection-link a {
        font-size: 0;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    :root {
        font-size: 4.8vw;
    }
}

body {
    margin: 0 0 auto 0;
    color: var(--fg-color);
    accent-color: var(--accent-color);
    background-color: var(--bg-color);
    min-height: 100vh;
    min-width: 80vw;
    max-width: 100vw;
    align-items: start;
    display: grid;
    font-family: sans-serif;
    line-height: 1.8em;
}

a {
    color: var(--link-color);
}

a:hover {
    --link-hover-color: oklch(from var(--link-color) calc(l + .2) c h);
    color: var(--link-hover-color);
    text-shadow: 0 0 1rem var(--link-hover-color), 0 0 .3rem var(--bg-color);
}

a:visited {
    --link-visited-color: oklch(from var(--link-color) calc(l + .2) c h);
    color: var(--link-visited-color);
    text-shadow: 0 0 1rem var(--link-visited-color), 0 0 .3rem var(--bg-color);
}

a:active {
    --link-active-color: oklch(from var(--link-color) calc(l + .2) c h);
    color: var(--link-active-color);
    text-shadow: 0 0 1rem var(--link-active-color), 0 0 .3rem var(--bg-color);
}

a:has(oni-natural-language-values) {
    text-decoration: none;
}

hr {
    border-color: var(--accent-color);
}

body > footer {
    padding: .8rem 0;
    width: auto;
    align-self: end;
    text-align: end;
    margin: 0 1rem;
}

body > footer ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

body > footer ul li {
    display: inline-block;
}

oni-icon {
    fill: currentColor;
}

p {
    margin: unset;
}

oni-natural-language-values, oni-icon {
    display: inline-block;
}

oni-main {
    max-width: 100vw;
}

oni-main > * {
    display: block;
    margin: 0 1rem;
}

oni-main > oni-actor {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

oni-main > * {
    max-width: 90cqw;
    width: 90ch;
    margin: 1rem auto auto;
}

oni-note, oni-event, oni-video, oni-audio, oni-image, oni-tag,
oni-activity, oni-announce, oni-create {
    display: flex;
    flex-direction: column;
}
oni-note footer, oni-event footer, oni-video footer, oni-audio footer, oni-image footer, oni-tag footer,
oni-activity footer , oni-announce footer , oni-create footer {
    align-self: end;
}
