@charset "UTF-8";
@import "reset.css";

:root {
    --bg-color: light-dark(#EFF0F1, #373637);
    --fg-color: light-dark(#373637, #EFF0F1);
    --link-color: light-dark(#00008B, #6495ED); /* darkblue, cornflowerblue */
    --link-visited-color: light-dark(#663399, #9370DB); /* rebeccapurple, mediumpurple */
    --accent-color: lch(from var(--link-visited-color) l calc(c + 20) calc(h + 20));
    --bri: 40%;

    overscroll-behavior-y: none;
    color-scheme: light dark;
    scrollbar-color: var(--accent-color) #0000;
    height: 100%;
    font: clamp(.62em, .2em + 1.5vw, 1.25em) / 1.25 sans-serif;
}

::selection {
    background: var(--accent-color);
    color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
    :root {
        --bri: 120%;
    }
}

body {
    display: grid;
    margin: 0 0 auto 0;
    color: var(--fg-color);
    accent-color: var(--accent-color);
    background-color: var(--bg-color);
    align-items: start;
    font-family: sans-serif;
    line-height: 1.6rem;
    min-height: 100vh;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    --c: oklch(from var(--link-color) calc(l - .2) c h);
    color: var(--c);
    text-shadow: 0 0 1rem var(--c), 0 0 .3rem var(--bg-color);
}

a:active {
    color: oklch(from var(--link-visited-color) l c calc(h + .2));
}

a:has(oni-natural-language-values) {
    text-decoration: none;
}

hr {
    border-color: var(--accent-color);
}

body > footer {
    padding: .8rem 0;
    width: auto;
    align-self: end;
    text-align: end;
    margin: 0 1rem;
}

body > footer ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

body > footer ul li {
    display: inline-block;
}

oni-icon {
    fill: currentColor;
}

p {
    margin: unset;
}

cite {
    font-weight: lighter;
    font-style: normal;
}

oni-natural-language-values, oni-icon {
    display: inline-block;
}

oni-main {
    max-width: 100vw;
}

oni-main > * {
    display: block;
    margin: 0 1rem;
}

oni-main > oni-actor {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
}

oni-main > * {
    padding: 1rem;
    display: grid;
    grid-template-columns: min(100%, 90ch);
    justify-content: center;
}

oni-note footer, oni-event footer, oni-video footer, oni-audio footer, oni-image footer, oni-tag footer,
oni-activity footer , oni-announce footer , oni-create footer {
    align-self: end;
}
