@charset "UTF-8";
@import "reset.css";

:root {
    --bg-color: #232627;
    --fg-color: #EFF0F1;
    --link-color: #1e90ff; /* dodgerblue */
    --link-visited-color: #9370db; /* mediumpurple */
    --link-active-color: #9370db;
    --accent-color: #EFF0F1;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #EFF0F1;
        --fg-color: #232627;
        --link-color: #0000cd; /* mediumblue */
        --link-visited-color: #663399; /* rebeccapurple */
        --link-active-color: #663399;
        --shadow-color: #232627;
    }
}

@media (min-width: 2201px) {
    :root {
        font-size: .92vw;
    }
}

@media (max-width: 2200px) {
    :root {
        font-size: .96vw;
    }
}

@media (max-width: 1800px) {
    :root {
        font-size: 1.16vw;
    }
}

@media (max-width: 1500px) {
    :root {
        font-size: 1.4vw;
    }
}

@media (max-width: 1200px) {
    :root {
        /*max-width: unset;*/
        font-size: 1.6vw;
    }
}

@media (max-width: 1050px) {
    :root {
        font-size: 1.8vw;
    }
}

@media (max-width: 948px) {
    :root {
        font-size: 2vw;
    }
}

@media (max-width: 860px) {
    :root {
        font-size: 2.2vw;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 2.6vw;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 2.8vw;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    :root {
        font-size: 4.8vw;
    }
}

body {
    margin: 0 0 auto 0;
    color: var(--fg-color);
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 80%;
    align-items: start;
    display: grid;
    font-family: sans-serif;
    line-height: 1.8em;
}

a {
    color: var(--link-color);
}

a:hover {
    text-shadow: 0 0 1rem var(--accent-color), 0 0 .3rem var(--bg-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:active {
    color: var(--link-active-color);
}

body > footer {
    padding: .8rem 0;
    width: 100%;
    align-self: end;
    text-align: end;
}

body > footer ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

body > footer ul li {
    display: inline-block;
}

oni-icon {
    fill: currentColor;
}

oni-natural-language-values, oni-icon {
    display: inline-block;
}

oni-main > * {
    display: block;
    margin: 0 1rem;
}

oni-activity, oni-note, oni-event, oni-video, oni-audio, oni-tag {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

p {
    margin: unset;
}

code {
    white-space: pre-wrap;
}