/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}

li, p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p, li {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}