<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="/main.css">
    {{- range $key, $value := URLS }}
    <link href="{{ $value }}" rel="me alternate" />
    {{- end }}
    <script defer type="module" src="/main.js"></script>
</head>
<body>
<noscript>
    We must apologise, but this site was created as a reference implementation for a JavasScript client
    on top of ActivityPub, and as such, it does not work without it.
</noscript>
<oni-main it="{{ ONI | JSON }}">
{{ yield -}}
</oni-main>
<footer>
    <ul>
        <li><small>Content: <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC-BY-SA 4.0</a></small></li>
        <li><small>Source code:
            <a href="https://git.sr.ht/~mariusor/oni/tree/master/item/LICENSE" rel="license">MIT</a> &ndash;
            <a title="The code" href="https://git.sr.ht/~mariusor/oni/tree"><oni-icon name="bookmark"></oni-icon></a></small>
        </li>
    </ul>
</footer>
</body>
</html>
