<oni-person it="{{ . | JSON }}">
    <oni-natural-language-value slot="preferredUsername"> <h2><a href="{{ .ID }}"> {{ .PreferredUsername | HTML }}</a></h2></oni-natural-language-value>
    {{ if .URL -}}
    {{ range $u := .URL }} <a slot="url" href="{{$u}}">{{$u}}</a>{{ end }}
    {{- end }}
    <div slot="collections">
    {{ if .Inbox -}} <oni-collection-link iri="{{ .Inbox.GetLink }}"></oni-collection-link> {{- end }}
    {{ if .Outbox -}} <oni-collection-link iri="{{ .Outbox.GetLink }}"></oni-collection-link> {{- end }}
    {{ if .Followers -}} <oni-collection-link iri="{{ .Followers.GetLink }}"></oni-collection-link> {{- end }}
    {{ if .Following -}} <oni-collection-link iri="{{ .Following.GetLink }}"></oni-collection-link> {{- end }}
    </div>
    {{ if .Summary -}} <oni-natural-language-value slot="summary" class="summary">{{ .Summary | HTML }}</oni-natural-language-value> {{- end }}
    {{ if .Content -}} <oni-natural-language-value slot="content" class="content">{{ .Content | HTML }}</oni-natural-language-value> {{- end }}
</oni-person>
